<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>MarkedList</title>
  <style>
    .marked {
      color: #efc14e;
    }
  </style>
</head>

<body>

  <div id="app">
    <input v-model="searchValue" type="text" />
    <p>{{ searchValue }}</p>
    <ul>
      <li
        v-for="(email, index) in emails"
        :key="index"
        :class="{'marked': email.includes(searchValue)}">
        {{ email }}
      </li>
    </ul>
  </div>

  <script type="module" src="script.js"></script>
</body>

</html>